/*
!.gitignore
!.gitmodules
!.gitconfigi
!.xinitrc
!.xsession
!.Xresources
!/.config
/.config/*
!/.config/alacritty/
!/.config/fish/
/.config/fish/*
!/.config/fish/sequences
!/.config/fish/functions
/.config/fish/functions/*
!/.config/fish/functions/add_to_path.fish
!/.config/Code/
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/extensions.txt
!/.config/Code/theme.json
!/.config/nixpkgs/
!/.config/suckless/
!/.config/gtk-3.0/
!/.config/background.jpg
!/w
/w/*
!/w/suckless/
