/*
!.gitignore
!.gitmodules
!.gitconfig
!.xinitrc
!.xsession
!.Xresources
!/.config
/.config/*
!/.config/alacritty/
!/.config/fish/
/.config/fish/*
!/.config/fish/sequences
!/.config/fish/functions
/.config/fish/functions/*
!/.config/fish/functions/add_to_path.fish
!/.config/nixpkgs/
!/.config/suckless/
!/.config/gtk-3.0/
!/.config/gtk-2.0/
!/.config/background.jpg
