/*
!.gitignore
!.gitmodules
!.gitconfigi
!.profile
!.xinitrc
!.xsession
!.xprofile
!.Xresources
!.gtkrc-2.0
!/.config
/.config/*
!/.config/alacritty/
!/.config/fish/
/.config/fish/*
!/.config/fish/functions
/.config/fish/functions/*
!/.config/fish/functions/add_to_path.fish
!/.config/Code/
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/extensions.txt
!/.config/Code/theme.json
!/.config/nixpkgs/
!/.config/suckless
!/.config/gtk-3.0/
!/w
/w/*
!/w/suckless/
